<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4"></div>

<div class="card bg-dark text-white">
    <div class="card-header" th:text="${title}"></div>
    <div class="card-body">

        <br>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">¡Gracias por participar de la encuesta!</label>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>